<!-- 文章 -->

<div class="main_box border_box">
  <span class="post_title" id="post_title"><%= page.title %></span>
  <br>
  <span class="post_date"><%- date(page.date, "YYYY-MM-DD") %></span>

  <%- page.content %>

  <%- js('js/guide') %>
  <script>
    create_guide();
  </script>
</div>