<!-- 文章列表 -->

<div class="main_box border_box">

  <% if (page.posts && page.posts.length > 0) { %>
    <% page.posts.each(function(post){ %><!-- 单个文章 -->

      <div class="post_box">
        <a href="<%- url_for(post.path) %>" class="post_title">
          <%- post.title %>
        </a>
        <span class="post_date"><%= date(post.date, "YYYY-MM-DD") %></span>
        <br>
      </div>
              
    <% }) %>
  <% } %>
</div>