/* div样式 */

.shadow_box {
  /* 阴影 */
  box-shadow: 0px 1px 3px var(--shadow_4);
  background: var(--shadow_1);
  border-style: solid;
  border-radius: 0px;
  border-width: 0px;

  word-break: break-all;
}

.border_box {
  background: var(--shadow_1);
  border-color: var(--shadow_3);
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;

  word-break: break-all;
}

.main_box {
  /* 主体 */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 80%;
  max-width: 900px;
  padding: 50px;
}

.web_name_box {
  /* 网站名 */
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100px;
}

.post_box {
  /* 标题 */
  height: 30px;
  padding-top: 10px;
}

.menu_box {
  /* 顶部菜单 */
  width: 100%;
  height: 70px;
  background-color: var(--text_3);

  position: fixed;
  top: 0px;
}

.menu_item_box {
  /* 菜单项 */
  height: 30px;
  width: 150px;
  padding-top: 25px;
  padding-bottom: 15px;

  text-align: center;
  font-family: 'varela';
  color: var(--web);
  font-weight: bold;

  display: block;
  cursor: pointer;
  &:hover {
    background-color: var(--text_4);
  }
}

.tag_box,
.category_box {
  position: fixed;
  top: 70px;
  width: 600px;
  padding: 30px;
  display: none;
}

.tag_box {
  left: 150px;
}

.category_box {
  left: 300px;
}

.guide_box {
  /* 附加导航 */
  transition-duration: 0.5s;
  height: 100%;
  top: 70px;
  right: -400px;
  width: 400px;
  position: fixed;

  display: block;
}