/* 杂项 */

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;

  background-color: var(--shadow_1);
  // background-image: url(https://cdn.jsdelivr.net/gh/hexo-simple-theme/hexo_bg@1.0.1/sun.png);
}

.left {
  float: left;
}

.right {
  float: right;
}

/* 引用其他styl */
@import "color.styl"
@import "box.styl"
@import "font.styl"